/ coffee:
/   testfunc = ->
/     alert("here")
/     App.heads_up_room.entered()
button.clear_table clear_table
/ button.clear_people clear_people

#seat_button

.result

#users
  .user#me
  .user#rival
#ready

.board
.pot

div.actions