/ coffee:
/   testfunc = ->
/     alert("here")
/     App.heads_up_room.entered()
button.clear_table clear_table
/ button.clear_people clear_people

#seat_button
  button.seat 着席

.result

#users
  .user#rival
  .user#me
#ready

.board
.pot

div.actions