h1 Heads Up
a href="/heads_up/1" ルーム1(heads-up)に入室
#heads_up_users_count
  = "user: #{@user_count}/2"
a href="/heads_up/2" ルーム2(3max)に入室
#heads_up_users_count
  = "user: #{@user_count}/2"
iframe src="http://pokerguild.jp/tourneys?tourneyname=&venue=1&start_date_from=2018-05-01&start_date_to=2018-06-01&limit=&game=&exclude=0&exclude=1" id="iframe1" width="100%" height="1500" scrolling="yes" marginwidth="0" frameborder="0" style="margin-top:-575px;"