// Place all the styles related to the HeadsUp controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

p {font-size: 20px;}
.hidden {display: none;}
card img{height: 100px;}
button.fold, button.check, button.call, button.bet, button.raise {
  color: red;
}
.user {margin-bottom: 20px;}